body{
    background-color: pink;
    padding: 20px;
    text-align: center;
  }


.main{
    color: aliceblue;
    margin-left: 35%;
    margin-top: 12%;
}

#timer {
    color: red;
    margin-left: 16%;
    font-size: 24px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.heart{
    image-resolution: 1%;
}